<div class="centerTitle">HOME</div><br/>
<div id="mainpan">
	<div class="mblock"><div class="inmblock">
		<h3>About this blog..</h3>
		<p>
		<ul>
			<li>node.js를 공부하면서 뭔가 만들어볼걸 찾던 중 만만한거 같아 블로그를 만들게 됨.. </li>
			<br/>
			<li>아직 블로그라고 하기에는 좀 부족하지만 지속적으로 업그레이드 할 것임</li>
			<br/>
			<li>Server Side : node.js + express(ejs) + mongodb(mongoose) 기반으로로  만들었음</li>
			<br/>
			<li>Client Side : 주로 jQuery, jQuery Plugin 을 사용하여 만들었음</li>
			<br/>
			<li>방명록과 댓글은 소셜댓글서비스인 disqus를 사용함(IE에서 보안경고가 뜨는 경우가 있음)</li>
			<br/>
			<li>소스코드는 github에 공개되있음 <a href="https://github.com/sizers/blog_sizers" target="_blank">https://github.com/sizers/blog_sizers</a></li>
			<br/>
			<li>아직 추가해야 할 기능이 많음. RSS, trackback, tag, 파일핸들링, 탬플릿기능 등등..</li>
			<br/>
			<li>디자인도 좀 구린거 같음..(자원봉사 해주실 디자이너 환영)</li>
			<br/>
			<li>이 블로그는 현재 node.js는 <a href="http://www.cloudfoundry.com" target="_blank">cloudfoundry</a>에서, 
				mongodb는 <a href="http://www.mongolab.com" target="_blank">mongolab.com</a>에서 무료호스팅을 받고 있음</li>
			<br/>
			<li>아마존EC2 등으로 갈아타기 전까진 아마도 계속 sizers.cloudfoundry.com 을 유지할듯..</li>
			<br/>
			<li>한국의 SW산업도 질적으로 성장해서, 한국의 SW엔지니어들도 node.js같은 상큼한 것들을 많이 만들어내는 시대가 왔으면..</li>
			<br/>
			<li>국내에서도 오픈소스프로젝트들이 활성화 됬으면..</li>
			<br/>
			<li>노드의 노자도 몰랐었는데 도움을 주신분들 감사.. 옥히의 kenu형, node.js 프로그래밍 책 쓰신 outsider님, javarouka님 등..</li>
		</ul>
		</p>

	</div></div>
</div>
<!--
<div id="mainpan">
	<div class="mblock"><div class="inmblock">
			<h3><a href="#">Super mega best header</a></h3>
			<a href="http://www.favobit.com/"><img src="favobig.jpg" width="100" height="100" alt="just image example" /></a>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin eu est ut mi ornare placerat. <a href="#">Suspendisse felis odio, elementum non, blandit vel, auctor eget, nunc</a>. Fusce convallis dignissim odio. Phasellus commodo egestas felis. Praesent eu sem at mi tempus egestas. Donec mollis. Morbi in lectus id magna dictum eleifend. Morbi vel diam quis sapien sollicitudin lacinia. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In consequat facilisis turpis. Proin erat dui, dictum nec, tincidunt nec, pharetra nec, tellus. Curabitur facilisis, nulla a tincidunt gravida, leo pede porttitor odio, ac adipiscing felis leo sit amet justo. Nunc egestas sodales sem. Duis ac mauris eu enim scelerisque mattis. Vivamus tortor neque, ultricies vel, dignissim nec, porttitor pulvinar, wisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ipsum nibh, nonummy sit amet, gravida et, ultrices at, wisi. Pellentesque iaculis auctor risus. Nullam mauris. Etiam pede tortor, auctor at, aliquet sit amet, hendrerit.</p>
			<div class="comments">Posted on: August 24th, 2005 <a href="#">read more...</a></div>
	</div></div>
	<div class="mblock">
		<div class="inmblock">
			<h3><a href="#">Super mega best header 2 with various elements such as ul, ol, dl</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin eu est ut mi ornare placerat. Suspendisse felis odio, elementum non, blandit vel, auctor eget, nunc. Fusce convallis dignissim odio. Phasellus commodo egestas felis. Praesent eu sem at mi tempus egestas. Donec mollis. Morbi in lectus id magna dictum eleifend. Morbi vel diam quis sapien sollicitudin lacinia. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In consequat facilisis turpis. Proin erat dui, dictum nec, tincidunt nec, pharetra nec, tellus. Curabitur facilisis, nulla a tincidunt gravida, leo pede porttitor odio, ac adipiscing felis leo sit amet justo. Nunc egestas sodales sem. Duis ac mauris eu enim scelerisque mattis. Vivamus tortor neque, ultricies vel, dignissim nec, porttitor pulvinar, wisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ipsum nibh, nonummy sit amet, gravida et, ultrices at, wisi. Pellentesque iaculis auctor risus. Nullam mauris. Etiam pede tortor, auctor at, aliquet sit amet, hendrerit.</p>
			<ul>
				<li><a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.1</a></li>
				<li><a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS!</a></li>
				<li>test unordered list text</li>
			</ul>
			<ol>
				<li><a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.1</a></li>
				<li><a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS!</a></li>
				<li>test ordered list text</li>
			</ol>
			<dl>
				<dt>test definition list</dt>
				<dd>test definition list</dd>
			</dl>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin eu est ut mi ornare placerat. Suspendisse felis odio, elementum non, blandit vel, auctor eget, nunc. Fusce convallis dignissim odio. Phasellus commodo egestas felis. Praesent eu sem at mi tempus egestas. Donec mollis. Morbi in lectus id magna dictum eleifend. Morbi vel diam quis sapien sollicitudin lacinia. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In consequat facilisis turpis. Proin erat dui, dictum nec, tincidunt nec, pharetra nec, tellus. Curabitur facilisis, nulla a tincidunt gravida, leo pede porttitor odio, ac adipiscing felis leo sit amet justo. Nunc egestas sodales sem. Duis ac mauris eu enim scelerisque mattis. Vivamus tortor neque, ultricies vel, dignissim nec, porttitor pulvinar, wisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ipsum nibh, nonummy sit amet, gravida et, ultrices at, wisi. Pellentesque iaculis auctor risus. Nullam mauris. Etiam pede tortor, auctor at, aliquet sit amet, hendrerit.</p>
		</div>
	</div>
	<div class="mblock">
		<div class="inmblock">
			<h3><a href="http://www.supertramp.com/">Supertramp > The Logical Song</a></h3>
			<p><code>When I was young, it seemed that life was so wonderful,
			A miracle, oh it was beautiful, magical.
			And all the birds in the trees, well they'd be singing so happily,
			Joyfully, playfully watching me.</code>
							<a href="http://www.scootertechno.com/archives/release.asp?id=21">Yeaaah!</a> - mixed by Scooter
			<code>But then they send me away to teach me how to be sensible,
			Logical, responsible, practical.
			And they showed me a world where I could be so dependable,
			Clinical, intellectual, cynical.</code>
			</p>
		</div>
	</div>
</div>
-->